<div class="header-component">
    <div class="d-flex justify-content-between" style="height: 100%">
      <img src="../../../assets/images/jplogl.svg" alt="" class="jplogo" />
      <div class="d-flex justify-content-between">
        <div class="header-content">
          <a routerLink="converter">1 </a>
          <a routerLink="files">2 </a>
          <a routerLink="dashboard">3 </a>
          <button
            mat-icon-button
            class="btn_logout"
            aria-label="Example icon button with a menu icon"
            (click) = "logout()"
          >
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  
