<div class="component-main">
  <div class="pricing-table">
    <div class="details">
      <h2>Package to suit your plan</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis animi
        fuga beatae odit consectetur nam impedit inventore possimus
      </p>
    </div>

    <div class="grid">
      <div class="box basic">
        <div class="title">Basic</div>
        <div class="price">
          <b>FREE</b>
          <span>per month</span>
        </div>
        <div class="features">
          <div>Converter</div>
          <div>Bionic Files</div>
          <div color="red">Sample Feature</div>
          <div color="red">Sample Feature</div>
        </div>
        <div class="button">
          <button routerLink="../user/dashboard">Purchase</button>
        </div>
      </div>

      <div class="box professional">
        <div class="title">Professional</div>
        <div class="price">
          <b>49.00</b>
          <span>per month</span>
        </div>
        <div class="features">
          <div>Converter</div>
          <div>Bionic Files</div>
          <div class="lock">Sample Feature</div>
          <div class="lock">Sample Feature</div>
        </div>
        <div class="button">
          <!-- <button routerLink="../payment">Purchase</button> -->
          <div id="myPaypalButtons20"></div>
        </div>
      </div>

      <div class="box ninja">
        <div class="title">Ninja</div>
        <div class="price">
          <b>69.00</b>
          <span>per month</span>
        </div>
        <div class="features">
          <div>Converter</div>
          <div>Bionic Files</div>
          <div>Sample Feature</div>
          <div>Sample Feature</div>
        </div>
        <div class="button">
          <!-- <button routerLink="../payment">Purchase</button> -->
          <div id="myPaypalButtons60"></div>
        </div>
      </div>
    </div>
  </div>
</div>
