<!DOCTYPE html>
<html>
  <body>
    <!-- header section starts  -->

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="content">
        <h3>
          <span id="txt1">Bio</span>nic <span id="txt2">Read</span>ing
          <span id="txt3">Ap</span>p
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
          suscipit porro nam libero natus error consequatur sed repudiandae eos
          quo? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptatibus suscipit porro nam libero natus error consequatur sed
          repudiandae eos quo?
        </p>
        <a routerLink="login" class="btn">Get Started</a>
      </div>

      <div class="image">
        <img src="/assets/images/newway.png" alt="" />
      </div>
    </section>
    

   

    
  
  <!-- footer section ends -->
    <!-- footer section ends -->
  </body>
</html>

